div #home-div {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    border: aqua 3px solid;
} 

#about { 
    color: white;
    font-size: 30px;
    padding: 3%;
    width: 55%;
    max-height: 100%;
    float: left;
} 

#bio {
    font-size: 15px;
}

#my-headshot {
    text-align: end;
    max-width: 40%;
    max-height: 100%;
    float: right;
}




