div #contact-page {
    float: left;
    border: aqua 3px solid;
    margin-top: 10%;
    margin-left: 5rem;
    width: 35%;
    max-height: 23rem;
    padding: 1rem;
} 

#contact-img {
    float: right;
    max-height: 50%; 
    text-align: end;
    margin-top: -7rem;
}

#contact-form {
    float: right;
    width: 35%;
    margin-top: 10%;
    margin-right: 5rem;
    margin-bottom: 12%;
    font-size: 21px;
    padding: 1rem;
    /* max-height: 30rem; */
    /* background-color: grey; */
    overflow:scroll;
}

input, textarea {
    margin-bottom: 5%;
    width: 100%;
    background-color: white;
    color: black;
}

textarea {
    height: 10rem;
}