div #contact-page {
    position: relative;
    margin: auto;
    padding: 1rem;
} 

#contact-img {
    float: right;
    max-height: 40%; 
    text-align: end;
    margin-top: -2rem;
}

#contact-form {
    float: right;
    font-size: 21px;
    padding: 1rem;
}

input, textarea {
    margin-bottom: 5%;
    width: 100%;
    background-color: white;
    color: black;
}

textarea {
    height: 10rem;
}