.nav {
    background-color: black;
    width: 100%;
    /* z-index: 100; */
    justify-content: end;
    padding:  1%;
    font-size: 21px;
    height: auto;
}

.nav-item a {
    color: white;
}

.nav-item a:hover {
    color: aqua;
}
