.nav {
    float: right;
    justify-content: end;
    font-size: 19px;
    font-weight: bolder;
}

a {
    color: white;
}

a:hover {
    color: aqua;
}

#my-name{
    align-items: left;
    text-align: left;
    text-decoration: none;
    font-size: 30px;
}