.nav {
    background-color: black;
    float: right;
    justify-content: end;
    font-size: 21px;
}

.nav-item a {
    color: white;
}

.nav-item a:hover {
    color: aqua;
}

#header-name {
    float: left;
}
