div #resume-div {
    position: relative;
    margin: auto;
}

#skills {
    list-style-type: none;
}

#my-resume {
    max-height: 400px;
    max-width: 90%;
}

#resume-link {
    color: white;
}

#resume-link:hover {
    color: aqua;
}